In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('data.csv')
data

   year  population
0  1910    92228496
1  1920   106021537
2  1930   123202624
3  1940   132164569
4  1950   151325798
5  1960   179323175
6  1970   203211926
7  1980   226545805
8  1990   248709873
9  2000   281421906

In [ ]:
year = data.year
pop = data.population
target_year = 1950

In [ ]:
def derivative(x_dat, y_dat, x, method='undefined_coef'):
    x_dat = list(x_dat)
    y_dat = list(y_dat)
    
    if method == 'undefined_coef':
        n = len(x_dat)
        A = np.ndarray(shape=(n, n))
        for i in range(n):
            for j in range(n):
                A[i,j] = (x_dat[j] - x)**i
        b = np.zeros(10)
        b[1] = 1
        
        coefs = np.linalg.solve(A, b)
        
        res = 0
        for i in range(len(coefs)):
            res += y_dat[i] * coefs[i]
        return res
    
    if method == 'forward':
        i = x_dat.index(x)
        return (y_dat[i + 1] - y_dat[i])/(x_dat[i + 1] - x_dat[i])
    
    if method == 'center':
        i = x_dat.index(x)
        return (y_dat[i + 1] - y_dat[i - 1])/(x_dat[i + 1] - x_dat[i - 1])
    
    if method == 'backward':
        i = x_dat.index(x)
        return (y_dat[i] - y_dat[i - 1])/(x_dat[i] - x_dat[i - 1])

In [ ]:
d1 = derivative(year, pop, 1950, 'undefined_coef')
d2 = derivative(year, pop, 1950, 'forward')
d3 = derivative(year, pop, 1950, 'center')
d4 = derivative(year, pop, 1950, 'backward')
print(d1)
print(d2)
print(d3)
print(d4)

2605128.4320145347
2799737.7
2357930.3
1916122.9